<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="POST" role="form" action="{% if obj %}{% url 'inv:producto_edit' obj.pk %}{% else %}{% url 'inv:producto_new' %}{% endif %}" enctype="multipart/form-data">
            {% if obj %}
           <div class="card border-left-warning shadow h-100 py-2">
           {%else %}
           <div class="card border-left-success shadow h-100 py-2">
           {% endif %}
                <div class="modal-header">
                    {% if obj %}
                    <h5 class="modal-title text-xs font-weight-bold text-warning text-uppercase mb-1">Editar Producto</h5>
                    {% else %}
                    <h5 class="modal-title text-xs font-weight-bold text-success text-uppercase mb-1">Nuevo Producto</h5>
                    {% endif %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.codigo.label_tag }}
                                {{ form.codigo }}
                            </div>
                            <div class="form-group">
                                {{ form.descripcion.label_tag }}
                                {{ form.descripcion }}
                            </div>
                            <div class="form-group">
                                {{ form.existencia.label_tag }}
                                {{ form.existencia }}
                            </div>
                            <div class="form-group">
                                {{ form.ultima_compra.label_tag }}
                                {{ form.ultima_compra }}
                            </div>
                            <div class="form-group">
                                {{ form.subcategoria.label_tag }}
                                {{ form.subcategoria }}
                            </div>
                            <div class="form-group">
                                {{ form.foto.label_tag }}
                                {{ form.foto }}
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.codigo_barra.label_tag }}
                                {{ form.codigo_barra }}
                            </div>
                            <div class="form-group">
                                {{ form.marca.label_tag }}
                                {{ form.marca }}
                            </div>
                            <div class="form-group">
                                {{ form.unidad_medida.label_tag }}
                                {{ form.unidad_medida }}
                            </div>
                            <div class="form-group">
                                {{ form.cantidad_minima.label_tag }}
                                {{ form.cantidad_minima }}
                            </div>
                            <div class="form-group">
                                {{ form.precio.label_tag }}
                                {{ form.precio }}
                            </div>
                            <div class="form-group">
                                {{ form.estado.label_tag }}
                                {{ form.estado }}
                            </div>
                            <div class="form-group">
                                {{ form.categoria.label_tag }}
                                {{ form.categoria }}
                            </div>
                            <div class="form-group">
                                {{ form.foto.label_tag }}
                                {{ form.foto }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
           </div>
        </form>
    </div>
</div>
<script>
    $(function() {
        $("#id_categoria").val("{{ obj.subcategoria.categoria.id }}").change();
        $("#id_subcategoria").val("{{ obj.subcategoria.id }}").change();
        $("#id_subcategoria").chained("#id_categoria");
    });
</script>
